.trail-rating-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6em;
}
.star-img {
  width: 25px;
}
.map-hidden-link {
  display: none;
  display: flex;
  width: 10%;
}
.trail-wrapper {
  display: block;
}
.trail-link {
  text-decoration: none;
  color: black;
  display: inline-block;
}
@media (min-width: 768px) {
  .map-hidden {
    display: none;
  }
  .trails-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
  }
  .trail-img {
    width: 100%;
    margin-bottom: 1em;
  }
  .item-heading {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .tryon,
  .marquam,
  .wildwood {
    display: grid;
    grid-template-areas: "heading img" "rating img" "text text";
  }
  .tryon-title,
  .marquam-title,
  .wildwood-title {
    grid-area: heading;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.6rem;
  }
  .tryon-rating,
  .marquam-rating,
  .wildwood-rating {
    grid-area: rating;
  }
  .tryon-img,
  .marquam-img,
  .wildwood-img {
    grid-area: img;
  }
  .tryon-text,
  .marquam-text {
    grid-area: text;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 2.8em;
  }
  .wildwood-text {
    grid-area: text;
  }
  .trails-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tryon map" "marquam map" "wildwood map";
    gap: 2em;
  }
  .trail-heading {
    grid-area: heading;
    margin-top: 65px;
    margin-bottom: 77px;
    color: #565656;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
  }
  .map {
    grid-area: map;
    display: block;
    width: 100%;
  }
  .trail-img {
    max-width: 479px;
    border-radius: 4px;
    margin-left: auto;
    width: 210px;
    height: 150px;
  }
  .trail-rating-wrapper {
    display: flex;
    align-items: center;
    color: #000;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: -8em; 
    gap: 0.6em;
  }
  .star-img {
    width: 30px;
  }
}
